@import '../../common/variables';

.fetch-btn {
  margin:  0 auto;
}

.items {
  width: 50%;
  margin: 0 auto;

  .item {
    padding-bottom: 1rem;
    border-bottom: 1px solid $item-sep;
  }

  a {
    display: block;
    color: $a;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      color: $a-hov;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .items {
    width: 90%;
  }
}